body {
  background-color: #282c34;
  /* background-image: url(/starburst.svg); */
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: bold;
}

.header-container {
  height: 10vh;
}

.image-container {
  height: 71vh;
}

.image-container img {
  max-height: 90%;
  max-width: 90%;
  margin: 20px;
}

.button-container {
  height: 10vh;
}
